.zoom-control {
	float: left;

}

.zoom-control i{
	font-size:32px;
    margin-right: 10px;
    line-height: 50px;

}

.zoom-control i:hover{
	cursor: pointer;


}

.scale-bar {
	width:15%;
	text-align: center;
	line-height: 50px
}


.tool-bar {
	width:90%;
	margin-left:5%;
	height: 50px;

}



.tool-bar>div {
	display: block;
	float: left;
}



.tool-bar .ymax {
	width: 200px;
	margin-left: 30px;
	line-height: 50px;
	height: 50px;

}

.tool-bar .sample-selection {
	width: 150px;
	margin-left: 30px;
	height: 50px;
	line-height: 50px;

}

.tool-bar .zoom-control {
	float: right;
	width: 100px;
	line-height: 50px;
	height: 50px;

}

