<div class="tool-bar">
  <div class='scale-bar'>{{scaleBar}}bp</div>
  <div class="yaxis">
    <span>Y Max: </span>
    <mat-slider class="ymax"
          [max]="6"
          [min]="1"
          [step]="1"
          (change)="sliderChange()"
          [(ngModel)]="value">
    </mat-slider>
  </div>
  <div class="sample-selection">
    <mat-select placeholder="Select samples" multiple>
      <mat-option>Sample 1</mat-option>
      <mat-option>Sample 2</mat-option>
    </mat-select>
  </div>
  <div class='zoom-control'>
    <i class="material-icons" (click)="onClick('in')">zoom_in</i>
    <i class="material-icons" (click)="onClick('out')">zoom_out</i>
  </div>
</div>
