.zoom-control i{
	font-size:32px;
    margin-right: 10px;
    line-height: 50px;
}

.zoom-control i:hover{
	cursor: pointer;
}

.shift-control {
	margin-left:20px;
	margin-top:10px;
	float:left;
}

.shift-control .shift-left{
	float:left;
	height:30px;
	width: 60px;
	background-image: url('/assets/back_forward_arrow.jpg');
	background-size: 200% 100%;

}

.shift-control .shift-right{
	float:left;
	height:30px;
	width: 60px;
	background-image: url('/assets/back_forward_arrow.jpg');
	background-size: 200% 100%;
	background-position:-60px, 0px;
}

.shift-control>div:hover{
	cursor:pointer;
}

.scale-bar {
	width:15%;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
}


.tool-bar {
	width:90%;
	margin-left:5%;
	height: 50px;

}



.tool-bar>div {
	display: block;
	float: left;
}



.tool-bar .ymax {
	width: 200px;
	margin-left: 15px;
	line-height: 50px;
	height: 50px;

}

.tool-bar .sample-selection {
	width: 170px;
	margin-left: 20px;
	height: 50px;
	line-height: 50px;

}

.tool-bar .zoom-control {
	float: right;
	width: 100px;
	line-height: 50px;
	height: 50px;

}

.SS_label {
	width: 50px;
	height: 50px;
	line-height: 50px;
	margin-left: 15px;
	font-size: 18px
}

.SS_content {
	box-sizing: border-box;
	height:50px;
	background-color:  #dfd;
	width: 250px;
	margin-left: 20px;
	border: solid 5px white;
	word-wrap: break-word;
	padding: 0 10px 0 10px;
}
