<div class="tool-bar">
  <div class='scale-bar'>{{scaleBar}}nts in each column</div>
  <div class="ymax">
    <span>Y Max: </span>
    <mat-slider 
          [max]="9"
          [min]="0"
          [step]="1"
          (change)="sliderChange()"
          [(ngModel)]="slider_value">
    </mat-slider>
  </div>
  <div class="sample-selection">
    <mat-select placeholder="Select samples" multiple [(value)]="selected" (selectionChange)="sampleSelectionChange()">
      <mat-option value="sample1">Sample 1</mat-option>
      <mat-option value="sample2">Sample 2</mat-option>
    </mat-select>
  </div>
  <div class="SS_label">Snapshot:</div>
  <div class="SS_content">
    
    <span> position: {{hover_content.position}}</span>
    <br />
    <span> {{hover_content.data}}</span>
  </div>
  <div class='shift-control'>
    <div class="shift-left" (click)="shift('left')"></div>
    <div class="shift-right" (click)="shift('right')"></div>

  </div>
  <div class='zoom-control'>
    <i class="material-icons" (click)="zoom('in')">zoom_in</i>
    <i class="material-icons" (click)="zoom('out')">zoom_out</i>
  </div>
</div>
