<div class="tool-bar">
  <div class='scale-bar'>{{scaleBar}}nts in each column</div>
  <div class="ymax">
    <span>Y Max: </span>
    <mat-slider 
          [max]="9"
          [min]="0"
          [step]="1"
          (change)="sliderChange()"
          [(ngModel)]="slider_value">
    </mat-slider>
  </div>
  <div class="sample-selection">
    <mat-select placeholder="Select samples" multiple [(value)]="selected" (selectionChange)="sampleSelectionChange()">
      <mat-option value="sample1">Sample 1</mat-option>
      <mat-option value="sample2">Sample 2</mat-option>
    </mat-select>
  </div>
  <div class="SS_label">Snapshot:</div>
  <div class="SS_content">
    <span> {{hover_position}}</span><br />
    <span> {{hover_reads}}</span>
  </div>
  <div class='zoom-control'>
    <i class="material-icons" (click)="onClick('in')">zoom_in</i>
    <i class="material-icons" (click)="onClick('out')">zoom_out</i>
  </div>
</div>
