.zoom-control {
	float: left;

}

.zoom-control i{
	font-size:32px;
    margin-right: 10px;

}

.zoom-control i:hover{
	cursor: pointer;


}

.scale-bar {
	border-bottom: solid 2px black;
	margin-top:20px;
	width:8.5%;
	text-align: center


}


.tool-bar {
	width:90%;
	margin-left:5%;

}


.yscale {
	position: absolute;
	left: -30px;
	color:black;
	z-index: 100;
	height: 100px;
	width:100px;

}

.tool-bar>div {
	display: block;
	float: left;

}

.tool-bar .scale-bar {
	width: 100px;

}

.tool-bar .baseline {
	width: 100px;
	margin-left:30px;

}

.tool-bar .log-scale {
	width: 110px;
	margin-left: 30px;

}

.tool-bar .ymax {
	width: 200px;
	margin-left: 30px;

}

.tool-bar .sample-selection {
	width: 150px;
	margin-left: 30px;

}

.tool-bar .zoom-control {
	float: right;
	width: 100px;

}

