<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-tool-bar (eventEmitter)="onToolEvent($event)" #tooBar  [scaleBar]="column_width" [mouseOnColumn]="mouseOnColumn"></app-tool-bar>
<div id="chart">
  <div class="panel" *ngFor="let panel of chart; let j=index" (click)="onPanelClick(j)">
    <div class="ymax"><span>{{tooBar.ymax}}</span></div>
	  <div class="wrapper" (mouseenter)="enterPanel(j)">
      <div class="column-overlap" *ngFor="let columns of panel; let i=index"
                                  (mouseenter)="enterColumn(i)"
                                  (mouseleave)="leaveColumn()" 
                                  [style.left]="i*0.4+'%'">




    		  <div class="column"
                *ngFor="let reads of columns; let n=index"  
                [style.height]="columnHeight(reads, true, tooBar.ymax)+'px'" 
                [style.zIndex]="ZIndex[j][i][n]" 
                [style.backgroundColor]="colors[n]"
          >
    		  </div>


      </div>
		</div>
    <div class="range-left"><span>{{panel_ranges[j].left}}</span></div>   
    <div class="range-right"><span>{{panel_ranges[j].right}}</span></div>
  </div>
</div>