<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-tool-bar (eventEmitter)="onToolEvent($event)"
              [scaleBar]="column_width"
              [hover_content]="hover_content"
>
</app-tool-bar>



<app-chart [chart_data]="chart_data" 
            [chart_start]="chart_start+column_shift" 
            [zoom]="zoom" 
            [shifting]="shifting" 
            [loading]="loading"
            [ymax]="ymax"
            [selected]="selected"
            (eventEmitter)="onChartEvent($event)"
>
</app-chart>


