<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-tool-bar></app-tool-bar>

<div id="chart">
  <div class="panel" *ngFor="let panelData of DividedMergedData; let j=index" (click)="zoomIn(j)">
    <div class="yscale"><span>{{yscale}}</span></div>
	  <div class="wrapper">
		  <div class="column" *ngFor="let peakData of panelData.columns; let i=index" [style.height]="peakData/5+'px'" [style.left]="i*0.4+'%'">
		  </div>
		</div>
    <div class="range-left"><span>{{panelData.range.left}}</span></div>   
    <div class="range-right"><span>{{panelData.range.right}}</span></div>

  </div>
</div>
