#chart {
	position: relative;
	width:96%;
	margin-right:4%;
	height: 80vh;
	overflow-y:scroll;
	padding-right:10px;
	overflow-x:visible

}

.panel {
	position: relative;
	height: 170px;
	width:95%;
	z-index: 0;
	margin-left:5%;
}

.wrapper {
	position: relative;
	bottom: 5px;
	border-bottom: solid 1px #000;
	border-left: solid 1px #000;
	background-color: #ccc;
	height: 140px;
	z-index: 0;
	overflow: hidden;

}

.range-left {
	float: left;
	line-height: 0.7;
}

.range-right {
	float: right;
	
}


.column-overlap {
	position: absolute;
	width: 0.24%;
	bottom: 0px;
}

.column-overlap .column1 {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: cyan;
}

.column-overlap .column2 {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: orange
}


